@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-sm-3">
        @{
            //List<string> list1 = ViewBag.ListA;
            List<string> list1 = (List<string>) ViewData["ListA"];
        }
        <h4>Employees of the month.</h4>
        <ul>
            @foreach (var emp in list1) {
                <li>@emp</li>
            }
        </ul>
    </div>
</div>
